      
<!-- Start social_buttons [snippets]
============================================================== -->
<button>Share</button>
<!-- End social_buttons [snippets]
============================================================== -->