<!-- START [SNIPPET] social_buttons
============================================================== -->
<button>Share</button>
<!-- END [SNIPPET] social_buttons
============================================================== -->